@import 'src/styles/variables';
$footerHeight: 15em;

ul {
    list-style-type: none;
}


a{
    text-decoration: none;
}

.layout_container {
    height: inherit;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    //flex-wrap: nowrap !important;
    flex-direction: column;
}

.row{
    min-height: calc(100vh - $footerHeight);
}

.col_1{
    display: flex;
    flex-direction: column-reverse;
}

svg.logo {
    width: 640px;
    align-self: center;
    margin-top: 2em;
}

nav.mainMenu {
    width: max-content;
    text-align: left;
    font-size: 1.5em;
    margin-left: calc(50% - 320px + 2em);
    margin-bottom: 1em;
    list-style-type: none;

    ul {
        width: inherit;

        li {
            width: 100%;

            a {
                .link {
                    width: 100%;
                    border-radius: 2px;
                    border: 2px solid transparent;
                    color: $color-light;
                    cursor: pointer;
                    padding: 5px 10px;
                }

                .link:hover {
                    background-color: rgba(150, 150, 150, 0.2);
                    border-color: $color-light;
                }
            }
        }
    }
}

nav.productMenu {
    box-sizing: border-box;
    padding: 4em 3em 1em 0em;
    margin-left: calc(50% - 320px);
    font-size: 1.8em;

    ul {
        width: 18em;
        display: flex;
        flex-direction: column;

        li {
            height: fit-content;
            width: auto;

            text-align: right;
            border: 1px solid transparent;
            border-radius: 5px;
            cursor: pointer;

            a {
                display: flex;
                flex-direction: row;
                flex-flow: nowrap;
                padding: 0.5em 2em;
                border: 0px solid transparent;
                border-radius: 5px;
                color: $color-light;

                .listIcon {
                    margin-right: 50px;

                    svg {
                        height: 50px;
                        width: 50px;
                    }
                }

                p.text {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                    text-align: right;
                }
            }

            a:hover {
                background-color: rgba(150, 150, 150, 0.2);
            }
        }
    }
}

footer.footer {
    width: 100%;
    height: $footerHeight;
    display: flex;
    justify-content: flex-end;

    nav {
        margin-bottom: 2em;
    }
}
